.threed {
    background: linear-gradient(var(--angle), var(--firstGradientColor), var(--secondGradientColor));

    box-shadow:
        var(--positionX) var(--positionY)
        var(--blur) var(--darkColor),

        var(--positionXOpposite) var(--positionYOpposite)
        var(--blur) var(--lightColor);

    border-radius: var(--radius);
}

.threed-down {
    background: linear-gradient(var(--angle), var(--firstGradientColor), var(--secondGradientColor));

    box-shadow:
        inset
        var(--positionX) var(--positionY)
        var(--blur) var(--darkColor),
        inset
        var(--positionXOpposite) var(--positionYOpposite)
        var(--blur) var(--lightColor);

    border-radius: var(--radius);
}

.box1 {
    width: var(--size);
    height: var(--size);
    //border-radius: 55% 65% 67% 33% / 21% 30% 70% 79%;
}
